extends ../layout

block content
    a(href='/bicicletas') Volver


    h1 Nueva Bicicleta
    form(action="/bicicletas/create" method="post")
        label(for="id") ID:
        input(type="text" name='id')
        br
        br

        
        label(for="color") Color:
        
        input(type="text" name='color')
        br
    
        br
        label(for="modelo") Modelo:
        input(type="text" name='modelo')
        br
        br

        label(for="Latitud") Latitud:
        input( name='lat')
        br
        br

        label(for="Longitud") Longitud:
        input( name='lon')
        br
        br
        input.btn(type="submit" value="Crear")


        