

extends ../layout

block content
 a(href='/bicicletas/create') Nueva bicicleta
  
    
    table.table
      thead.thead-light
        tr
          th(scope='col') id
          th(scope='col') modelo
          th(scope='col') color
          th(scope='col') ubicacion
          th(scope='col')
          th(scope='col') 


          tbody
            each bici in bicicletas


              tr

              td(scope='col')
                = bici.id
              td= bici.modelo
              td= bici.color
              td= bici.ubicacion
              td
                a(href="/bicicletas/"+bici.id+"/update") Editar
              td 
                form.inline(action='bicicletas/'+bici.id+'/delete' method="post")
                 input(type="hidden" name="id" value= bici.id)
                 button.link-button(type="submit" name="submit_param" value="submit_value" class="btn")
                  =  "Eliminar"
