extends ../layout

block content
    a(href='/bicicletas') Volver


    h1 Actualizar Bicicleta
    form(action='/bicicletas/'+bici.id+'/update' method="post")
        label(for="id") ID:
        input(type="text" name='id' value=bici.id)
        br
        br

        
        label(for="color") Color:
        
        input(type="text" name='color' value=bici.color)
        br
    
        br
        label(for="modelo") Modelo:
        input(type="text" name='modelo' value=bici.modelo)
        br
        br

        label(for="Latitud") Latitud:
        input(type="text" name='lat' value=bici.ubicacion[0])
        br
        br

        label(for="Longitud") Longitud:
        input(type="text" name='lon' value=bici.ubicacion[1])
        br
        br
        input.btn(type="submit" value="Actualizar")


        